@model AMPA_Electronics_Store4.Models.ProductsModel
@using AMPA_Electronics_Store4.Models;
@{
    Model1 db = new Model1();
}
<!-- banner -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item item1 active">
            <div class="container">
                <div class="w3l-space-banner">
                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                        <p>
                            Get flat
                            <span>10%</span> Cashback
                        </p>
                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                            The
                            <span>Big</span>
                            Sale
                        </h3>
                        <a class="button2" href="@Url.Action("Products", "Home")">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item item2">
            <div class="container">
                <div class="w3l-space-banner">
                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                        <p>
                            advanced
                            <span>Wireless</span> earbuds
                        </p>
                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                            Best
                            <span>Headphone</span>
                        </h3>
                        <a class="button2" href="@Url.Action("Products", "Home")">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item item3">
            <div class="container">
                <div class="w3l-space-banner">
                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                        <p>
                            Get flat
                            <span>10%</span> Cashback
                        </p>
                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                            New
                            <span>Standard</span>
                        </h3>
                        <a class="button2" href="@Url.Action("Products", "Home")">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item item4">
            <div class="container">
                <div class="w3l-space-banner">
                    <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                        <p>
                            Get Now
                            <span>40%</span> Discount
                        </p>
                        <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                            Today
                            <span>Discount</span>
                        </h3>
                        <a class="button2" href="@Url.Action("Products", "Home")">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- //banner -->
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>O</span>ur
            <span>N</span>ew
            <span>P</span>roducts
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    @{
                        foreach (var c in db.Categories)
                        {
                            <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                                <h3 class="heading-tittle text-center font-italic">New Brand @c.CATEGORY_NAME</h3>
                                <div class="row">
                                    @{
                                        int a = 1;
                                        foreach (var p in db.Products)
                                        {

                                            if (p.CATEGORY_FID == c.CATEGORY_ID)
                                            {
                                                if (a <= 3)
                                                {
                                                    <div class="col-md-4 product-men mt-5">
                                                        <div class="men-pro-item simpleCart_shelfItem">
                                                            <div class="men-thumb-item text-center">
                                                                <img src="@Url.Content(p.PRODUCT_PICTURE)" style="background-color:white" height="250px" width="220px" alt="">
                                                                <div class="men-cart-pro">
                                                                    <div class="inner-men-cart-pro">
                                                                        <a href="@Url.Action("QuickView", "Home", new { id1 = p.PRODUCT_ID })" class="link-product-add-cart">Quick View</a>
                                                                    </div>
                                                                </div>
                                                                @if (p.PRODUCT_DISCOUNT != null)
                                                                {
                                                                    <span class="product-new-top">
                                                                        @p.PRODUCT_DISCOUNT% OFF SALE!
                                                                    </span>
                                                                }
                                                            </div>
                                                            <div class="item-info-product text-center border-top mt-4">
                                                                <h4 class="pt-1">
                                                                    <a href="">@p.PRODUCT_NAME</a>
                                                                </h4>
                                                                <h6>Available Stock: @p.OrderDetails.Select(x => x.QUANTITY).Sum()</h6>
                                                                <div class="info-product-price my-2">
                                                                    @if (p.PRODUCT_DISCOUNT != null)
                                                                    {
                                                                        <span class="item_price">@(p.PRODUCT_SALEPRICE - ((p.PRODUCT_SALEPRICE * decimal.Parse(p.PRODUCT_DISCOUNT.ToString()) / 100)))</span>
                                                                        <del>@p.PRODUCT_SALEPRICE</del>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="item_price">@p.PRODUCT_SALEPRICE</span>
                                                                    }
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                                    @if (p.OrderDetails.Select(x => x.QUANTITY).Sum() > 0)
                                                                    {
                                                                        <a class="button btn btn-outline-primary" href="@Url.Action("AddToCart", "Home", new { id = p.PRODUCT_ID })">Add To Cart</a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    a++;
                                                }

                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                      }
                      <!-- //first section -->
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Search Here..</h3>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <table class=" search-hotel">
                                <tr>
                                    <td>
                                        <input type="search" placeholder="Search" aria-label="Search" name="name" required>
                                    </td>
                                    <td>
                                        <input style="color:transparent" type="submit" name="Search" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3"> Categories </h3>
                        <div class="left-side py-2">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Products", "Home", new { id=0})" class="btn btn-light">All Product</a></li>
                                @foreach (var cat in db.Categories)
                                {
                                <li>
                                    <a href="@Url.Action("Products", "Home", new { id = cat.CATEGORY_ID})" class="btn btn-light">@cat.CATEGORY_NAME (@cat.Products.Count)</a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Price</h3>
                        <div class="w3l-range">
                            <ul>
                                <li class="my-1">
                                    <a href="@Url.Action("Products", "Home", new { id = 1})" class="btn btn-light">Less than Rs. 10,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="@Url.Action("Products", "Home", new { id = 2})" class="btn btn-light">Rs. 10,000 - 20,000</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Products", "Home", new { id = 3})" class="btn btn-light">Rs. 20,000 - 30,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="@Url.Action("Products", "Home", new { id = 4})" class="btn btn-light">Rs. 30,000 - 40,000</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Products", "Home", new { id = 5})" class="btn btn-light">Rs. 40,000 - 50,000</a>
                                </li>
                                <li class="mt-1">
                                    <a href="@Url.Action("Products", "Home", new { id = 6})" class="btn btn-light">More than Rs. 50,000</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                    <!-- discounts -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Discount</h3>
                        <ul>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 7})" class="btn btn-light">5% or More</a></span>
                            </li>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 8})" class="btn btn-light">10% or More</a></span>
                            </li>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 9})" class="btn btn-light">20% or More</a></span>
                            </li>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 10})" class="btn btn-light">30% or More</a></span>
                            </li>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 11})" class="btn btn-light">40% or More</a></span>
                            </li>
                            <li>
                                <span class="span"><a href="@Url.Action("Products", "Home", new { id = 12})" class="btn btn-light">50% or More</a></span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev border-bottom left-side py-2">
                        <h3 class="agileits-sear-head mb-3">Customer Review</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- electronics -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Electronics</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Cameras & Photography</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Car & Vehicle Electronics</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Computers & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">GPS & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Headphones</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Home Audio</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Home Theater, TV & Video</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Mobiles & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Portable Media Players</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Tablets</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Telephones & Accessories</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Wearable Technology</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //electronics -->
                    <!-- delivery -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Eligible for Cash On Delivery</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //delivery -->
                    <!-- arrivals -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">New Arrivals</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Last 30 days</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Last 90 days</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //arrivals -->
                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3">Best Seller</h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src=" ~/Content/CustomerTemplate/images/k1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                                        <a href="" class="price-mar mt-2">$12,990.00</a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src=" ~/Content/CustomerTemplate/images/k2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
                                        <a href="" class="price-mar mt-2">$12,499.00</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src=" ~/Content/CustomerTemplate/images/k3.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
                                        <a href="" class="price-mar mt-2">$1,199.00 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>
<!-- //top products -->
<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-agile text-left p-4">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Smooth, Rich & Loud Audio</h6>
                            <h4 class="mt-2 mb-3">Branded Headphones</h4>
                            <p>Sale up to 25% off all in store</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src=" ~/Content/CustomerTemplate/images/off1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="join-agile text-left p-4">
                    <div class="row ">
                        <div class="col-sm-7 offer-name">
                            <h6>A Bigger Phone</h6>
                            <h4 class="mt-2 mb-3">Smart Phones 5</h4>
                            <p>Free shipping order over $100</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src=" ~/Content/CustomerTemplate/images/off2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle section -->