@using AMPA_Electronics_Store4.Models
@{
    Model1 db = new Model1();
}
<!-- Quick View -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Q</span>uick
            <span>V</span>iew
        </h3>
        <!-- //tittle heading -->
        @if (Session["QuickView"] != null)
        {
            foreach (var item in (List<Product>)Session["QuickView"])
            {
                <div class="row">
                    <div class="col-lg-5 col-md-8 single-right-left ">
                        <div class="grid images_3_of_2">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="images/si1.jpg">
                                        <div class="thumb-image">
                                            <img src="@Url.Content(item.PRODUCT_PICTURE)" height="350px" width="250px" data-imagezoom="true" class="img-fluid" alt="">
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                        <h3 class="mb-3">@item.PRODUCT_NAME</h3>
                        <p class="mb-3">
                            @if (item.PRODUCT_DISCOUNT != null)
                            {
                                <span class="item_price">Rs. @(item.PRODUCT_SALEPRICE-((item.PRODUCT_SALEPRICE* decimal.Parse(item.PRODUCT_DISCOUNT.ToString())/100)))</span>
                                <del>@item.PRODUCT_SALEPRICE</del>
                            }
                            else
                            {
                                <span class="item_price">Rs. @item.PRODUCT_SALEPRICE</span>
                            }
                            <label>Free delivery</label>
                        </p>
                        <div class="product-single-w3l">
                            <ul>
                                <li class="mb-1">
                                    @item.PRODUCT_DESCRIPTION
                                </li>
                                <li class="mb-1">
                                    Available Stock: @item.OrderDetails.Select(x => x.QUANTITY).Sum()
                                </li>
                            </ul>
                        </div>
                        <div class="single-infoagile">
                            <ul>
                                <li class="mb-3">
                                    Cash on Delivery Eligible.
                                </li>
                                <li class="mb-3">
                                    Shipping Speed to Delivery.
                                </li>
                            </ul>

                            <p class="my-3">
                                <i class="far fa-hand-point-right mr-2"></i>
                                <label>1 Year</label>Manufacturer Warranty
                            </p>
                        </div>
                        <div class="occasion-cart">
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                @if (item.OrderDetails.Select(x => x.QUANTITY).Sum() > 0)
                                {
                                    <a class="btn btn-block btn-outline-primary" href="@Url.Action("AddToCart", "Home", new { id = item.PRODUCT_ID })">Add To Cart</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- //Single Page -->