@model AMPA_Electronics_Store4.Models.TermCondition

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Terms & Conditions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TQ_TERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TQ_TERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TQ_CONDITION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TQ_CONDITION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
