@model AMPA_Electronics_Store4.Models.TermCondition

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "TermConditions", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Terms & Condtions</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TQ_ID)

    <div class="form-group">
        @Html.LabelFor(model => model.TQ_TERM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TQ_TERM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TQ_TERM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TQ_CONDITION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TQ_CONDITION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TQ_CONDITION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
